<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mantenimiento de Aeropuerto</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" th:href="@{/resources/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
</head>

<body id="fondo_material">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" th:href="@{/aerolinea}">Aerolínea <span class="sr-only">(current)</span></a>
      <a class="nav-link active" th:href="@{/aeropuerto}">Aeropuerto</a>
      <a class="nav-link" th:href="@{/material}">Material</a>
      <a class="nav-link" th:href="@{/registroDiario}">Registro Diario</a>
      <a class="nav-link" th:href="@{/registroDiario/listar}">Lista Registro Diario</a>
    </div>
  </div>
</nav>
	<br>
	<div style="margin-left: 170px;" class="form-inline my-3 contenedor_tabla_material">
		<button onclick="ResetForm(document.getElementById('formRegistroAeropuerto'))"
			class="btn btn-primary mr-2 btn-nuevo" data-toggle="modal" data-target="#modalRegistroAeropuerto"><i
				class="bi bi-plus-square"></i> Nuevo Aeropuerto</button>
		<button onclick="ResetForm(document.getElementById('formRegistroPais'))" class="btn btn-primary mr-2 btn-nuevo"
			data-toggle="modal" data-target="#modalRegistroPais"><i class="bi bi-plus-square"></i> Nuevo País</button>
		<button onclick="ResetForm(document.getElementById('formRegistroRegion'))"
			class="btn btn-primary mr-2 btn-nuevo" data-toggle="modal" data-target="#modalRegistroRegion"><i
				class="bi bi-plus-square"></i> Nueva Región</button>
	</div>

	<!-- Modal Nueva Aerolinea -->
	<div class="modal fade" id="modalRegistroAeropuerto" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">:::: <span class="spanTitulo"></span> AEROPUERTO ::::
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formRegistroAeropuerto" th:action="@{aeropuerto/guardarAeropuerto}" method="post"
					class="needs-validation" novalidate>
					<input type="hidden" id="codigoAeropuerto" name="codigoAeropuerto" value="0">
					<div class="modal-body">
						<div class="form-row">
							<div class="col-md-12 mb-3">
								<label for="nombreAeropuerto">Nombre de aeropuerto</label>
								<input id="nombreAeropuerto" name="nombreAeropuerto" type="text" class="form-control"
									required>
								<div class="invalid-feedback">
									Ingrese un nombre.
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4 mb-3">
								<label for="codigoIataAeropuerto">Código IATA</label>
								<input minlength="3" maxlength="3" id="codigoIataAeropuerto" name="codigoIataAeropuerto"
									type="text" class="form-control" required>
								<div class="invalid-feedback">
									Ingrese código IATA.
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="paises">País</label>
								<select id="paises" name="paises" class="form-control mr-sm-2" required>
									<option value="" selected>Seleccione</option>
									<option name="cboPais" th:each="listaPaises:${paises}"
										th:text="${listaPaises.nombrePais}" th:value="${listaPaises.codigoPais}">
									</option>
								</select>
								<div class="invalid-feedback">
									Seleccione un país.
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="regiones">Región</label>
								<select id="regiones" name="regiones" class="form-control mr-sm-2" required>
									<option value=""></option>
								</select>
								<div class="invalid-feedback">
									Seleccione una región.
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" type="submit">Agregar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Fin Modal -->

	<!-- Modal Nuevo Pais -->
	<div class="modal fade" id="modalRegistroPais" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">:::: <span class="spanTitulo"></span> PAÍS ::::
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formRegistroPais" th:action="@{aeropuerto/guardarPais}" method="post" class="needs-validation"
					novalidate>
					<input type="hidden" id="codigoPais" name="codigoPais" value="0">
					<div class="modal-body">
						<div class="form-row">
							<div class="col-md-12 mb-3">
								<label for="nombrePais">Nombre de País</label>
								<input id="nombrePais" name="nombrePais" type="text" class="form-control" required>
								<div class="invalid-feedback">
									Ingrese un nombre.
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" type="submit">Agregar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Fin Modal -->

	<!-- Modal Nuevo Region	 -->
	<div class="modal fade" id="modalRegistroRegion" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">:::: <span class="spanTitulo"></span> REGIÓN ::::
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formRegistroRegion" th:action="@{aeropuerto/guardarRegion}" method="post"
					class="needs-validation" novalidate>
					<input type="hidden" id="codigoRegion" name="codigoRegion" value="0">
					<div class="modal-body">
						<div class="form-row">
							<div class="col-md-6 mb-3">
								<label for="nombreRegion">Nombre de la Región</label>
								<input id="nombreRegion" name="nombreRegion" type="text" class="form-control" required>
								<div class="invalid-feedback">
									Ingrese un nombre.
								</div>
							</div>
							<div class="col-md-6 mb-3">
								<label for="paises">País</label>
								<select id="paises" name="paises" class="form-control mr-sm-2" required>
									<option value="" selected>--Seleccione--</option>
									<option name="cboPais" th:each="listaPaises:${paises}"
										th:text="${listaPaises.nombrePais}" th:value="${listaPaises.codigoPais}">
									</option>
								</select>
								<div class="invalid-feedback">
									Seleccione una región.
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" type="submit">Agregar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Fin Modal -->
	<br>
	<div class="contenedor_tabla_material">
		<div class="container-fluid px-5">
			<table id="tablaAerolinea" class="table table-striped table-bordered my-4 tabla_material">
				<thead>
					<tr>
						<th>Código</th>
						<th>Aeropuerto</th>
						<th>Código IATA</th>
						<th>País</th>
						<th>Región/Ciudad/Estado</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fila:${aeropuertos}">
						<td th:text="${fila.codigoAeropuerto}"></td>
						<td th:text="${fila.nombreAeropuerto}"></td>
						<td th:text="${fila.codigoIataAeropuerto}"></td>
						<td th:text="${fila.paises.nombrePais}"></td>
						<td th:text="${fila.regiones.nombreRegion}"></td>
						<td class="tamaño_celda" style="text-align: center;"><button
								onclick="ResetForm(document.getElementById('formRegistroAeropuerto'))"
								class="btn btn-warning btn-actualizar" data-toggle="modal"
								data-target="#modalRegistroAeropuerto"><i class="bi bi-pencil"></i></button></td>
						<td class="tamaño_celda" style="text-align: center;"><button
								class="btn btn-danger btn-eliminar"><i class="bi bi-trash"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Form no visible para eliminar aeropuerto -->
	<form id="form-eliminar" method="post" action="/eliminarAeropuerto">
		<input type="hidden" name="codigoEliminar" id="codigoEliminar">
	</form>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//recuperar atributo "MENSAJE"
		let msg =/*[[${MENSAJE}]]*/
			toastr.success(msg, toastr.options = {
				"timeOut": "2000",
			});
	</script>

	<script>
		//limpiar formulario
		$(document).on("click", ".btn-nuevo", function () {
			$(".spanTitulo").text("REGISTRAR");
			$("#formRegistroAeropuerto").trigger("reset");
			$("#formRegistroPais").trigger("reset");
			$("#formRegistroRegion").trigger("reset");
			$("#regiones").empty();
		})
	</script>

	<script>
		//metodo para resetear los campos con mensajes de validacion
		function ResetForm(form) {
			form.classList.remove('was-validated');
			form.querySelectorAll(".is-invalid").forEach(el => el.classList.remove('is-invalid'));
			form.reset();
		}
	</script>

	<script>

		let codReg;
		$(document).on("click", ".btn-actualizar", function () {
			let cod;
			//obtener el codigo de la fila seleccionada
			$(".spanTitulo").text("ACTUALIZAR");
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			//enviamos el codigo para obtener el JSON del material
			$.get("/aeropuerto/buscarAer?codigoAer=" + cod, function (response) {
				$("#codigoAeropuerto").val(response.codigoAeropuerto);
				$("#nombreAeropuerto").val(response.nombreAeropuerto);
				$("#codigoIataAeropuerto").val(response.codigoIataAeropuerto);
				$("#paises").val(response.regiones.paises.codigoPais);
				//simulamos el seleccionar una opcion del combo, de lo contrario no
				// muestra datos en el combo "regiones"
				codReg = response.regiones.codigoRegion;
				$("#paises").trigger("change");
			})
		})

		$(document).on("change", "#paises", function () {
			//obtener el codigo del pais
			let codigo = $(this).val();
			//limpiar combo region y agregar una primera opcion "seleccione"
			$("#regiones").empty().append("<option></option>")
			$.get("aeropuerto/listarRegionPorCodigoPais?codigoPais=" + codigo, function (response) {
				$.each(response, function (index, item) {
					$("#regiones").append("<option value='" + item.codigoRegion + "'>" + item.nombreRegion + "</option>");
				})
				$("#regiones").val(codReg);
			})
		})
	</script>

	<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function () {
				'use strict';
				window.addEventListener('load', function () {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName('needs-validation');
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function (form) {
						form.addEventListener('submit', function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();
	</script>
</body>

</html>