<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mantenimiento de Aeropuerto</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" th:href="@{/resources/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
</head>

<body id="fondo_material">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{/aerolinea}">Aerolínea <span class="sr-only">(current)</span></a>
				<a class="nav-link" th:href="@{/aeropuerto}">Aeropuerto</a>
				<a class="nav-link" th:href="@{/material}">Material</a>
				<a class="nav-link active" th:href="@{/registroDiario}">Registro Diario</a>
			</div>
		</div>
	</nav>
	<br>
	<div class="container">
		<div class="row">
			<div th:each="fila:${aerolineas}">
				<div style="margin-left: 170px;" class="form-inline my-3 contenedor_tabla_material">
					<button th:value="${fila.codigoAerolinea}" th:text="${fila.indicativoAerolinea}"
						class="btn btn-warning btn-aer"></button>
				</div>
			</div>
		</div>
	</div>


	<!-- formulario de material por fecha   -->
	<div class="container my-5">
		<label for="fecha">Fecha Actual:</label>
		<input readonly type="date" id="fechaPagina" name="fechaPagina">
	</div>
	<!-- fin formulario de material por fecha   -->

	<div>

		<!-- formulario de material    -->

		<div class="formform container">
			<div class="form-row">
				<div class="row" th:each="row:${material}">
					<div>
						<form class="formulario" id="formulario" method="post"
							th:action="@{/registroDiario/registrar}">
							<!--	<input th:value="${dato}" name="codigoAerolinea"> -->
									<input hidden readonly type="date" id="fecha" name="fecha" th:value="${fechaActual}">
									<input hidden th:value="${dato}" name="codigoAerolinea">
							<input hidden th:value="${row.codigoMaterial}" name="codigoMaterial">
							<div class="col-md-8 mb-3">
								<label for="cantidadDiaria" th:text="${row.descripcionMaterial}"></label>
								<input id="cantidadDiaria" name="cantidadDiaria" type="text" class="form-control"
									required>
								<div class="invalid-feedback">
									Ingrese una descripción.
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-success btn-agregar" type="submit">Agregar</button>
			</div>
		</div>

		<!-- fin formulario de material   -->

	</div>
	<br>

	<form id="formCodigoAerolinea" method="post" th:action="@{/registroDiario/formulario}">
		<input type="hidden" id="valorCodigo" name="cod">
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//recuperar atributo "MENSAJE"
		let msg =/*[[${MENSAJE}]]*/
			toastr.success(msg, toastr.options = {
				"timeOut": "2000",
			});
	</script>

	<script>
		$(document).on("click", ".btn-aer", function () {
			let cod;
			cod = $(this).val();
			$("#valorCodigo").val(cod);
			$("#formCodigoAerolinea").submit();
		})
	</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener la fecha actual
        var fechaActual = new Date();
        
        fechaActual.setDate(fechaActual.getDate() - 1);

        // Formatear la fecha en el formato "YYYY-MM-DD"
        var formattedFecha = fechaActual.toISOString().split('T')[0];

        // Establecer el valor del campo de fecha
        document.getElementById('fechaPagina').value = formattedFecha;
    });
</script>

	<script>
		$(document).on("click", ".btn-agregar", function () {
			$(".formulario").each(function (index, formulario) {
				var formData = $(formulario).serialize();

				$.ajax({
					type: "POST",
					url: "/registroDiario/registrar",
					data: formData,
					success: function (response) {
						console.log(response);
						window.location.href = "/registroDiario";
					},
					error: function (error) {
						console.error("Error al enviar el formulario", error);
					}
				});
			});
		})
	</script>
	
<!--		<script>
		$(document).on("click", ".btn-boton", function () {
			
				var formulario = $(this).closest("form");
           		var formData = formulario.serialize();

            $.ajax({
                type: "POST",
                url: "/registroDiario/registrarmpf",
                data: formData,
                success: function(response) {
                    console.log(response);
                    // Puedes realizar acciones adicionales después de guardar
                },
                error: function(error) {
                    console.error("Error al enviar el formulario", error);
                }
            });
});
	</script>
-->	
	<script>
		//metodo para resetear los campos con mensajes de validacion
		function ResetForm(form) {
			form.classList.remove('was-validated');
			form.querySelectorAll(".is-invalid").forEach(el => el.classList.remove('is-invalid'));
			form.reset();
		}
	</script>

	<script>

		let codReg;
		$(document).on("click", ".btn-actualizar", function () {
			let cod;
			//obtener el codigo de la fila seleccionada
			$(".spanTitulo").text("ACTUALIZAR");
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			//enviamos el codigo para obtener el JSON del material
			$.get("/aeropuerto/buscarAer?codigoAer=" + cod, function (response) {
				$("#codigoAeropuerto").val(response.codigoAeropuerto);
				$("#nombreAeropuerto").val(response.nombreAeropuerto);
				$("#codigoIataAeropuerto").val(response.codigoIataAeropuerto);
				$("#paises").val(response.regiones.paises.codigoPais);
				//simulamos el seleccionar una opcion del combo, de lo contrario no
				// muestra datos en el combo "regiones"
				codReg = response.regiones.codigoRegion;
				$("#paises").trigger("change");
			})
		})

		$(document).on("change", "#paises", function () {
			//obtener el codigo del pais
			let codigo = $(this).val();
			//limpiar combo region y agregar una primera opcion "seleccione"
			$("#regiones").empty().append("<option></option>")
			$.get("aeropuerto/listarRegionPorCodigoPais?codigoPais=" + codigo, function (response) {
				$.each(response, function (index, item) {
					$("#regiones").append("<option value='" + item.codigoRegion + "'>" + item.nombreRegion + "</option>");
				})
				$("#regiones").val(codReg);
			})
		})
	</script>

	<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function () {
				'use strict';
				window.addEventListener('load', function () {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName('needs-validation');
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function (form) {
						form.addEventListener('submit', function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();
	</script>
</body>

</html>